@font-face{
    font-family: 'Philosopher';
    src:url("fonts/Philosopher-Bold.ttf");
}

*{
    margin:0;
    padding:0;
}

html{
    height:100%;
}

body{
    font-family: Verdana, sans-serif;
    min-height: 100%;
}

/*
    Cabecera principal
*/

header{
    background:white;
    color:#053a2a;
    top:0;
    height:150px;}

header h1{
    font-family: 'Philosopher';
    font-size:70px;
    padding-top:30px;
    text-align:center;
}

header h2{
    font-family: 'Philosopher';
    font-size:0.8em;
    /*margin-right:80px;*/
    margin-top:20px;
    text-align:center;
    font-weight: normal;
}

/*
    Barra de navegación
*/

nav{
    width:60%;
    margin:40px auto 40px auto;
    text-align:center;
}

nav li{
    display:inline-block;
    list-style: none;
    margin-left:30px;
}

nav h2{
    font-family: 'Philosopher';
    color:#00251a; 
    margin-bottom:30px;
    border:1px double #053a2a;
    border-radius:10px;
    text-align:center;
    padding:20px 0px 20px 0px;

}

nav a{
    color:#373737;
}

body > section{
    min-height: calc(100vh - 150px - 50px);
}

footer{
    height:50px;
    padding-top:40px;
    background:#053a2a;
    color:white;
    text-align:center;
}


/*
    Elementos generales
*/

.article-content a{
    color:#373737;
}

.article-content a:visited{
    color:#373737;
}

.article-content p{
    margin-top:10px;
}
.article-content ul{
    margin:10px;
}

.article-content ul li{
    margin-left:10px;
}

.article-content code{
    color:#373737;
    font-size:1.2em;
}

.article-content pre{
    overflow-x:auto;
}

.article-content table{
    margin:20px auto 20px auto;
    border:1px solid #373737;
}

.article-content td{
    margin:20px auto 20px auto;
    border:1px solid #373737;
    padding:0px 10px 0px 10px;
}

.article-content blockquote{
    padding-left:10px;
    border-left:4px solid  #9e9d9d;
    margin:20px;
    font-style: italic;
}

.article-content img{
    max-width:70%;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
}

/*
    Estilos para los índices de últimos artículos
*/
.lasts-posts, .all-posts, .article-content{
    width:60%;
    margin:0 auto 50px auto;
    padding:30px;
    border:1px double #053a2a;
    border-radius:10px;
}

.user-index-last-entry p{
    margin:0;
    padding:0;
}

.user-index-last-entry .title a{
    font-size:1.3em;
    color:white;
    font-weight: bold;
    text-decoration:none;
}

.user-index-last-entry a:hover{
    text-decoration:none;
}


.user-index-last-entry .title{
    padding:5px;
}

.user-index-last-entry .meta{
    color:#373737;
    background-color:white;
    margin:0px;
    padding-top:15px;
    padding-bottom:15px;
    width:100%;
}

.meta{
    color:#373737;
    font-size:0.8em;
}

.meta a{
    color:inherit;
    text-decoration:underline;
}

.meta a:visited{
    color:inherit;
}

.read-more{
    font-size:0.8em;
    text-align:right;
}

.sign{
    margin-top:50px;
    text-align:right;
}

article.user-index-last-entry{
    margin-bottom:50px;
    border:0px solid #053a2a;
    border-bottom:0px;
    border-radius:5px;
    background-color: #053a2a;
}

.user-index-last-entry .summary{
    background-color:white;
    color:black;
}


/*
    Estilos para los índices completos de cada usuario
*/

.user-index-all-entry,.main-index-all-entry span{
    margin-right:10px;
}

.user-index-all-entry,.main-index-all-entry a, a:visited{
    color:#373737;
    text-decoration: none;
}

.all-posts{
    border:0px;
}

li.main-index-all-entry span{
    display:inline-block;
}

li.main-index-all-entry span.user{
    width:100px;    
}



/*
    Estilos para mostrar el artículo completo
*/
#article-content h1{
    text-align:left;
    color:#00251a; 
    margin-bottom:30px;
}



