<!--
    Plantilla para mostrar el índice principal del blog
-->
<html>

<head>
    <title>Título del blog</title>
    <link rel="stylesheet" href="../resources/estilo.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <header>
        <h1>Ágora</h1>
        <h2>Un blog del IES G.M. Jovellanos</h2>
    </header>
    <nav>
        <ul>
            <li><a href="">¿Qué es Ágora?</a></li>
            <li><a href="">¿Cómo publicar?</a></li>
            <li><a href="">Archivo</a></li>
        </ul>
    </nav>
    <section class="lasts-posts" id="last-index">
        $index
    </section>
    <footer>
        Pie de página
    </footer>
</body>
<html>
