<!--
    Plantilla para mostrar un artículo general del blog
-->
<html>
<head>
    <title>Ágora | Un blog del IES G.M. Jovellanos</title>
    <link rel="stylesheet" href="../resources/estilo.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
</head>
<body>
    <header>
        <h1>Ágora</h1>
        <h2>Un blog del IES G.M. Jovellanos</h2>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
        </ul>
    </nav>
    <article class="article-content" id="article-content">
    $content
    </article>
    <footer>
        <p>Esta web funciona sobre <a
            href="http://hipatia.iesjovellanos.org">Hipatia</a>. Un servidor libre y
            multiusuario del <a
            href="https://www.educa2.madrid.org/web/centro.ies.jovellanos.fuenlabrada">IES
            G.M. Jovellanos</a></p>
            <p>Todo el contenido de esta web tiene una 
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.es">licencia</a>
             de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0
            Internacional.</p>
    </footer>
</body>
<html>
