<!--
    Plantilla para mostrar el índice principal de un usuario donde se
    mostrarán los resumenes de los ultimos artículos
-->
<html>

<head>
    <title>$user</title>
    <link rel="stylesheet" href="../resources/estilo.css">
</head>

<body>
    <header>
        <h1>Título blog</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="index-all.html">Todos los artículos de $user</a></li>
        </ul>
    </nav>
    <section id="user-last-index">
        $index
    </section>
</body>
<html>