<!--
    Plantilla para mostrar un artículo general del blog
-->
<html>
<head>
    <title>$user</title>
    <link rel="stylesheet" href="../../resources/estilo.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <header>
        <h1>Ágora</h1>
        <h2>Un blog del IES G.M. Jovellanos</h2>
    </header>
    <nav>
        <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="index.html">$user</a></li>
        </ul>
    </nav>
    <article class="article-content" id="article-content">
    $content
    <div class="meta sign">
        Escrito por $user el $date
    </div>
    </article>
    <footer>
        Pie de página
    </footer>
</body>
<html>